<p id="notice"><%= notice %></p>

<p>
  <strong>本の名前:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>販売元:</strong>
  <%= @book.selling %>
</p>

<p>
  <strong>値段:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
